doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://unpkg.com/animate.css/animate.css" type="text/css")
    link(rel="stylesheet" href="https://unpkg.com/rmodal/dist/rmodal.css" type="text/css")
    script(type="text/javascript" src="https://unpkg.com/rmodal/dist/rmodal.js")

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" type="text/css")
    script(type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js")
    script(type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js")
    script(type="text/javascript" src="/javascripts/tablesort.js")
    script(type="text/javascript" src="https://cdn.datatables.net/select/1.2.2/js/dataTables.select.min.js")
    //- script(type="module" src="/javascripts/piano/build/piano/Piano.js")

    //- link(rel="stylesheet" href="/stylesheets/range.css" type="text/css")
    //- script(type="text/javascript" src="/javascripts/range.js")

    //- link(rel="stylesheet" href="semantic/dist/semantic.min.css" type="text/css")
    //- script(type="text/javascript" src="semantic/dist/semantic.min.js")

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js")

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.17/Tone.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js")
    link(rel="stylesheet" href="/stylesheets/music_sheet.css" type="text/css")

    link(rel="stylesheet" href="/stylesheets/timer.css" type="text/css")

    script(src='/javascripts/easytimer/dist/easytimer.js')
    script(src='/javascripts/progress_clock.js')

    script(src='/javascripts/piano/common.js')
    script(src='/javascripts/piano/Util.js')
    script(src='/javascripts/piano/Salamander.js')
    script(src='/javascripts/piano/Component.js')
    script(src='/javascripts/piano/Harmonics.js')
    script(src='/javascripts/piano/Keybed.js')
    script(src='/javascripts/piano/Pedal.js')
    script(src='/javascripts/piano/String.js')
    script(src='/javascripts/piano/Strings.js')
    script(src='/javascripts/piano/Piano.js')

    script(src='/javascripts/constants.js')
    script(src='/javascripts/helpers.js')
    script(src='/javascripts/select_song_modal.js')
    script(src='/javascripts/new_song_modal.js')
    script(src='/javascripts/piano.js')
    script(src='/javascripts/main.js')

  
    //- script(type="module" src="https://cdn.jsdelivr.net/npm/@tonejs/piano@0.2.0/build/index.min.js")


  body
    block select_song_modal
    block new_song_modal
    block content
